<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
</head>
<body>
	
<form action="#" th:action="@{/addbook}" th:object="${book}" method="post">
	
    <label for="title">Title</label>
    <input type="text" th:field="*{title}" id="title" placeholder="Title">
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
    
    <label for="author">Author</label>
    <input type="text" th:field="*{author}" id="author" placeholder="Author">
    <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span>
    
    <label for="year">Year</label>
    <input type="text" th:field="*{year}" id="year" placeholder="Year">
    <span th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></span>
    
    <input type="submit" value="Add Book">   
</form>

</body>
</html>