<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Add new Book</title>
  <link rel="stylesheet" 
  href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">

</head>
<body>
	<div class="container mt-4">
	<form action="#" th:action="@{/addbook}" th:object="${book}" method="post">
		<div class="mb-3">
	      <label for="title" class="form-label">Title</label>
	      <input type="text" th:field="*{title}" id="title" placeholder="Title" class="form-control">
	      <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span>
	    </div>
	    
	    <div class="mb-3">
	      <label for="author" class="form-label">Author</label>
	      <input type="text" th:field="*{author}" id="author" placeholder="Author" class="form-control">
	      <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}" class="text-danger"></span>
	    </div>
	    
	    <div class="mb-3">
	      <label for="year" class="form-label">Year</label>
	      <input type="text" th:field="*{year}" id="year" placeholder="Year" class="form-control">
	      <span th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="text-danger"></span>
	    </div>
	    <input type="submit" class="btn btn-primary" value="Add Book">   
	</form>
  </div>
</body>
</html>